body {
    /* body全体に対してのフォント */
    font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
    /* h1に対してのgoogleフォント */
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: 40;
  font-weight: 400;
  font-style: normal;
  /*  装飾 */
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom:solid 3px rgb(115, 115, 114);
}

html {
    /* html全体に対してのフォント指定 */
    font-size: 20px;
    text-align: center;
}

#basic > p {
    /* divの中のpだけに適用 */
    font-weight: bold;
}

.skyblue {
    color: skyblue;
}
.pink {
    color:rgb(255, 192, 203)
}
